<footer>
    <div class="container attr">
        <p>Dice icons made by <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>    
        <p>Application by Brad Griffith</p>
    </div>  
</footer>